{% if fullView is defined and fullView %}
{{ header }}{{ column_left }}{{ column_right }}
<div class="container">
    {{ content_top }}
    {% endif %}

    {% if not kassa.getEPL() %}
        <h3>{{ kassa.getDisplayName() }}</h3>
    {% endif %}
    <style type="text/css">
        .yamoney_kassa_buttons {
            display: flex;
            justify-content: space-between;
        }

        .yamoney_kassa_buttons_reverse {
            flex-direction: row-reverse;
        }

        .yamoney-pay-button {
            position: relative;
            height: 60px;
            width: 155px;
            font-family: YandexSansTextApp-Regular, Arial, Helvetica, sans-serif;
            text-align: center;
        }

        .yamoney-pay-button button {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            transition: 0.1s ease-out 0s;
            color: #000;
            box-sizing: border-box;
            outline: 0;
            border: 0;
            background: #FFDB4D;
            cursor: pointer;
            font-size: 12px;
        }

        .yamoney-pay-button button:hover, .yamoney-pay-button button:active {
            background: #f2c200;
        }

        .yamoney-pay-button button span {
            display: block;
            font-size: 20px;
            line-height: 20px;
        }

        .yamoney-pay-button_type_fly {
            box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12), 0 5px 10px -3px rgba(0, 0, 0, 0.3);
        }
    </style>
    <form method="post" action="" id="yandex-money-payment-form">
        {% if kassa.getEPL() %}
            <input type="hidden" name="kassa_payment_method" value=""/>
            <div class="yamoney_kassa_buttons {% if not kassa.useInstallmentsButton() %} yamoney_kassa_buttons_reverse{% endif %}">
                {% if kassa.useInstallmentsButton() %}
                    <div class="ya_kassa_installments_button_container"></div>
                {% endif %}
                {% if kassa.useYandexButton() %}
                    <div class="yamoney-pay-button {% if not kassa.useInstallmentsButton() %} yamoney-pay-button_type_fly{% endif %}">
                        <button id="continue-button">{{ language.get('yamoney_pay_button_text') }}</button>
                    </div>
                {% endif %}
            </div>
        {% else %}
            {% for method in kassa.getEnabledPaymentMethods() %}
                {% if (method == 'installments') and (amount < constant('YandexMoneyModule\\Model\\KassaModel::MIN_INSTALLMENTS_AMOUNT')) %}
                {% else %}
                    <label class="kassa_payment_method_{{ method }}">
                        <input type="radio" name="kassa_payment_method"
                               value="{{ method }}"{{ (loop.first ? ' checked' : '') }} />
                        <img src="{{ image_base_path }}/{{ method }}.png"
                             alt="{{ language.get('text_method_' ~ method) }}"/>
                        {{ language.get('text_method_' ~ method) }}
                    </label>
                {% endif %}
                {% if method == 'qiwi' %}
                    <div id="payment-qiwi" class="additional" style="display: none;">
                        <label for="qiwi-phone">{{ language.get('text_payment_method_qiwi_phone') }}</label><br/>
                        <input name="qiwiPhone" id="qiwi-phone" value=""/>
                    </div>
                {% elseif method == 'alfabank' %}
                    <div id="payment-alfabank" class="additional" style="display: none;">
                        <label for="alfa-login">{{ language.get('text_payment_method_alfa_login') }}</label><br/>
                        <input name="alfaLogin" id="alfa-login" value=""/>
                    </div>
                {% endif %}
                <br/>
            {% endfor %}
        {% endif %}

        {% if not kassa.getEPL() or (kassa.getEPL() and not kassa.useYandexButton()) %}
            <div class="buttons">
                <div class="pull-right">
                    <button class="btn btn-primary" id="continue-button"
                            type="button">{{ language.get('text_continue') }}</button>
                </div>
            </div>
        {% endif %}
    </form>
    <script type="text/javascript"><!--
        jQuery(document).ready(function () {
            var paymentType = jQuery('input[name=kassa_payment_method]');
            paymentType.change(function () {
                var id = '#payment-' + jQuery(this).val();
                jQuery('.additional').css('display', 'none');
                jQuery(id).css('display', 'block');
            });

            jQuery('#continue-button').bind('click', function (event) {
                event.preventDefault();
                var form = jQuery("#yandex-money-payment-form")[0];
                jQuery.ajax({
                    url: "{{ validate_url }}",
                    dataType: "json",
                    method: "GET",
                    data: {
                        paymentType: form.kassa_payment_method.value,
                        qiwiPhone: (form.qiwiPhone ? form.qiwiPhone.value : ''),
                        alphaLogin: (form.alfaLogin ? form.alfaLogin.value : '')
                    },
                    success: function (data) {
                        if (data.success) {
                            document.location = data.redirect;
                        } else {
                            onValidateError(data.error);
                        }
                    },
                    failure: function () {
                        onValidateError('Failed to create payment');
                    }
                });
            });
            {% if kassa.isInstallmentsOn() %}
                function createCheckoutCreditUI() {
                    if (typeof YandexCheckoutCreditUI === "undefined") {
                        setTimeout(createCheckoutCreditUI, 200);
                        return;
                    }
                    const checkoutCreditUI = YandexCheckoutCreditUI({
                        shopId: {{ kassa.getShopId() }},
                        sum: {{ amount }},
                        language: "{{ language.get('code') }}"
                    });
                    const checkoutCreditButton = checkoutCreditUI({
                        type: 'button',
                        domSelector: '.ya_kassa_installments_button_container'
                    });
                    checkoutCreditButton.on('click', function () {
                        jQuery.ajax({
                            url: "{{ validate_url }}",
                            dataType: "json",
                            method: "GET",
                            data: {
                                paymentType: "installments",
                            },
                            success: function (data) {
                                if (data.success) {
                                    document.location = data.redirect;
                                } else {
                                    onValidateError(data.error);
                                }
                            },
                            failure: function () {
                                onValidateError("Failed to create payment");
                            }
                        });
                    });
                }

                setTimeout(createCheckoutCreditUI, 200);

                jQuery.get("https://money.yandex.ru/credit/order/ajax/credit-pre-schedule?shopId="
                    + {{ kassa.getShopId() }} +"&sum=" + {{ amount }}, function (data) {
                    const ym_installments_amount_text = "{{ language.get('text_method_installments_amount') }}";
                    if (ym_installments_amount_text && data && data.amount) {
                        jQuery('label.kassa_payment_method_installments').append(ym_installments_amount_text.replace('%s', data.amount));
                    }
                });
            {% endif %}
            function onValidateError(errorMessage) {
                var warning = jQuery('#yandex-money-payment-form .alert');
                if (warning.length > 0) {
                    warning.fadeOut(300, function () {
                        warning.remove();
                        var content = '<div class="alert alert-danger">' + errorMessage + '<button type="button" class="close" data-dismiss="alert">×</button></div>';
                        jQuery('#yandex-money-payment-form').prepend(content);
                        jQuery('#yandex-money-payment-form .alert').fadeIn(300);
                    });
                } else {
                    var content = '<div class="alert alert-danger">' + errorMessage + '<button type="button" class="close" data-dismiss="alert">×</button></div>';
                    jQuery('#yandex-money-payment-form').prepend(content);
                    jQuery('#yandex-money-payment-form .alert').fadeIn(300);
                }
            }
        });
        //--></script>

    {% if fullView is defined and fullView %}
    {{ content_bottom }}
</div>
{{ footer }}
{% endif %}
