{% if fullView is defined and fullView %}
{{ header }}{{ column_left }}{{ column_right }}
<div class="container">
    {{ content_top }}
    {% endif %}
    <h3>{{ kassa.getDisplayName() }}</h3>
    <style type="text/css">
        .yamoney_kassa_buttons {
            display: flex;
            justify-content: space-between;
        }

        .yamoney_kassa_buttons_reverse {
            flex-direction: row-reverse;
        }

        .yamoney-pay-button {
            position: relative;
            height: 60px;
            width: 155px;
            font-family: YandexSansTextApp-Regular, Arial, Helvetica, sans-serif;
            text-align: center;
        }

        .yamoney-pay-button button {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            transition: 0.1s ease-out 0s;
            color: #000;
            box-sizing: border-box;
            outline: 0;
            border: 0;
            background: #FFDB4D;
            cursor: pointer;
            font-size: 12px;
        }

        .yamoney-pay-button button:hover, .yamoney-pay-button button:active {
            background: #f2c200;
        }

        .yamoney-pay-button button span {
            display: block;
            font-size: 20px;
            line-height: 20px;
        }

        .yamoney-pay-button_type_fly {
            box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12), 0 5px 10px -3px rgba(0, 0, 0, 0.3);
        }
    </style>
    <form method="post" action="" id="yandex-money-payment-form">
        <input type="hidden" name="kassa_payment_method" value="b2b_sberbank"/>
        <div class="buttons">
            <div class="pull-right">
                <button class="btn btn-primary" id="continue-button"
                        type="button">{{ language.get('text_continue') }}
                </button>
            </div>
        </div>
    </form>
    <script type="text/javascript"><!--
        jQuery(document).ready(function () {
            var paymentType = jQuery('input[name=kassa_payment_method]');
            paymentType.change(function () {
                var id = '#payment-' + jQuery(this).val();
                jQuery('.additional').css('display', 'none');
                jQuery(id).css('display', 'block');
            });

            jQuery('#continue-button').bind('click', function (event) {
                event.preventDefault();
                var form = jQuery("#yandex-money-payment-form")[0];
                jQuery.ajax({
                    url: "{{ validate_url }}",
                    dataType: "json",
                    method: "GET",
                    data: {
                        paymentType: form.kassa_payment_method.value,
                    },
                    success: function (data) {
                        if (data.success) {
                            document.location = data.redirect;
                        } else {
                            onValidateError(data.error);
                        }
                    },
                    failure: function () {
                        onValidateError('Failed to create payment');
                    }
                });
            });
           
            function onValidateError(errorMessage) {
                var warning = jQuery('#yandex-money-payment-form .alert');
                if (warning.length > 0) {
                    warning.fadeOut(300, function () {
                        warning.remove();
                        var content = '<div class="alert alert-danger">' + errorMessage + '<button type="button" class="close" data-dismiss="alert">×</button></div>';
                        jQuery('#yandex-money-payment-form').prepend(content);
                        jQuery('#yandex-money-payment-form .alert').fadeIn(300);
                    });
                } else {
                    var content = '<div class="alert alert-danger">' + errorMessage + '<button type="button" class="close" data-dismiss="alert">×</button></div>';
                    jQuery('#yandex-money-payment-form').prepend(content);
                    jQuery('#yandex-money-payment-form .alert').fadeIn(300);
                }
            }
        });
        //--></script>

    {% if fullView is defined and fullView %}
    {{ content_bottom }}
</div>
{{ footer }}
{% endif %}
