{% for m in market_status %}
    {{ m }}
{% endfor %}
<div class="panel panel-default">
    <div class="panel-body">
        <div>
            <p>{{ language.get('kassa_header_description') }}</p>
            <p>{{ language.get('kassa_version_string') }} {{ module_version }}</p>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="yandex_money_market_shopname">{{ market_s_name }}</label>
            <div class="col-sm-8">
                <input type="text" name="yandex_money_market_shopname" value="{{ yandex_money_market_shopname }}" id="yandex_money_market_shopname" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">{{ market_prostoy }}</label>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input type="radio" {{ (yandex_money_market_prostoy ? ' checked="checked"' : '') }} name="yandex_money_market_prostoy" value="1"/> {{ active_on }}</label>
                <label class="radio-inline">
                    <input type="radio" {{ (not yandex_money_market_prostoy ? ' checked="checked"' : '') }} name="yandex_money_market_prostoy" value="0"/> {{ active_off }}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">{{ market_set }}</label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label for="yandex_money_market_available"><input type="checkbox" {{ (yandex_money_market_available ? ' checked="checked"' : '') }} name="yandex_money_market_available" id="yandex_money_market_available" class="" value="1"/> {{ market_set_1 }}</label>
                </div>
                <div class="checkbox">
                    <label for="yandex_money_market_combination"><input type="checkbox" {{ (yandex_money_market_combination ? ' checked="checked"' : '') }} name="yandex_money_market_combination" id="yandex_money_market_combination" class="" value="1"/> {{ market_set_3 }}</label>
                </div>
                <div class="checkbox">
                    <label for="yandex_money_market_features"><input type="checkbox" {{ (yandex_money_market_features ? ' checked="checked"' : '') }} name="yandex_money_market_features" id="yandex_money_market_features" class="" value="1"/> {{ market_set_4 }}</label>
                </div>
                <div class="checkbox">
                    <label for="yandex_money_market_dimensions"><input type="checkbox" {{ (yandex_money_market_dimensions ? ' checked="checked"' : '') }} name="yandex_money_market_dimensions" id="yandex_money_market_dimensions" class="" value="1"/> {{ market_set_5 }}</label>
                </div>
                <div class="checkbox">
                    <label for="yandex_money_market_allcurrencies"><input type="checkbox" {{ (yandex_money_market_allcurrencies ? ' checked="checked"' : '') }} name="yandex_money_market_allcurrencies" id="yandex_money_market_allcurrencies" class="" value="1"/> {{ market_set_6 }}</label>
                </div>
                <div class="checkbox">
                    <label for="yandex_money_market_store"><input type="checkbox" {{ (yandex_money_market_store ? ' checked="checked"' : '') }} name="yandex_money_market_store" id="yandex_money_market_store" class="" value="1"/> {{ market_set_7 }}</label>
                </div>
                <div class="checkbox">
                    <label for="yandex_money_market_delivery"><input type="checkbox" {{ (yandex_money_market_delivery ? ' checked="checked"' : '') }} name="yandex_money_market_delivery" id="yandex_money_market_delivery" class="" value="1"/> {{ market_set_8 }}</label>
                </div>
                <div class="checkbox">
                    <label for="yandex_money_market_pickup"><input type="checkbox" {{ (yandex_money_market_pickup ? ' checked="checked"' : '') }} name="yandex_money_market_pickup" id="yandex_money_market_pickup" class="" value="1"/> {{ market_set_9 }}</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">{{ market_dostup }}</label>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input type="radio" {{ (yandex_money_market_set_available == 1 ? ' checked="checked"' : '') }} name="yandex_money_market_set_available" value="1"/> {{ market_dostup_1 }}</label>
                <label class="radio-inline">
                    <input type="radio" {{ (yandex_money_market_set_available == 2 ? ' checked="checked"' : '') }} name="yandex_money_market_set_available" value="2"/> {{ market_dostup_2 }}</label>
                <label class="radio-inline">
                    <input type="radio" {{ (yandex_money_market_set_available == 3 ? ' checked="checked"' : '') }} name="yandex_money_market_set_available" value="3"/> {{ market_dostup_3 }}</label>
                <label class="radio-inline">
                    <input type="radio" {{ (yandex_money_market_set_available == 4 ? ' checked="checked"' : '') }} name="yandex_money_market_set_available" value="4"/> {{ market_dostup_4 }}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="">Товар в наличии</label>
            <div class="col-sm-8">
                <table class="table">
                    <tr>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="yandex_money_market_localcoast">{{ market_d_cost }}</label>
                            <div class="col-sm-8">
                                <input type="text" name="yandex_money_market_localcoast" value="{{ yandex_money_market_localcoast }}"
                                       id="yandex_money_market_localcoast" class="form-control"/>
                            </div>
                        </div>
                    </tr>
                    <tr>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="yandex_money_market_localdays">{{ market_d_days }}</label>
                            <div class="col-sm-8">
                                <input type="text" name="yandex_money_market_localdays" value="{{ yandex_money_market_localdays }}"
                                       id="yandex_money_market_localdays" class="form-control"/>
                            </div>
                        </div>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="yandex_money_market_localdays">Товара нет в наличии</label>
            <div class="col-sm-8">
                <table class="table">
                    <tr>
                        <th>Статус товара на складе</th>
                        <th>Срок доставки</th>
                        <th>Стоимость доставки </th>
                    </tr>
                    {% for stock in stockstatuses %}
                    <tr>
                    <td>
                    {{ stock.name }}
                    </td>
                    <td>
                    <input type="text" name="yandex_money_market_stock_days[{{ stock.id }}]" value="{{ yandex_money_market_stock_days ? yandex_money_market_stock_days[stock.id] : '' }}" class="form-control"/>
                    </td>
                    <td>
                    <input type="text" name="yandex_money_market_stock_cost[{{ stock.id }}]" value="{{ yandex_money_market_stock_cost ? yandex_money_market_stock_cost[stock.id] : '' }}" class="form-control"/>
                    </td>
                    </tr>
                    {%  endfor %}
                </table>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">{{ market_color_option }}</label>
            <div class="col-sm-8">
                <div class="scrollbox" style="height: 100px; overflow-x: auto; width: 100%;">
                    {% for option in options %}
                    <div class="{{ loop.index % 2 ? 'odd' : 'even' }}">
                        {% if yandex_money_market_color_options and option.option_id in yandex_money_market_color_options %}
                        <input type="checkbox" name="yandex_money_market_color_options[]" value="{{ option.option_id }}" checked="checked" />
                        {{ option.name }}
                        {% else %}
                        <input type="checkbox" name="yandex_money_market_color_options[]" value="{{ option.option_id }}" />
                        {{ option.name }}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <a onclick="$(this).parent().find(':checkbox').attr('checked', true);">{{ text_select_all }}</a> / <a onclick="$(this).parent().find(':checkbox').attr('checked', false);">{{ text_unselect_all }}</a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">{{ market_size_option }}<br/>{{ market_size_unit }}</label>
            <div class="col-sm-8">
                <div class="scrollbox" style="height: 160px; overflow-x: auto; width: 100%;">
                    {% for option in options %}
                    <div class="{{ loop.index % 2 ? 'odd' : 'even' }}">
                        {% if yandex_money_market_size_options and option.option_id in yandex_money_market_size_options %}
                        <input type="checkbox" name="yandex_money_market_size_options[]" value="{{ option.option_id }}" checked="checked" />
                        {{ option.name }}
                        {% else %}
                        <input type="checkbox" name="yandex_money_market_size_options[]" value="{{ option.option_id }}" />
                        {{ option.name }}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <a onclick="$(this).parent().find(':checkbox').attr('checked', true);">{{ text_select_all }}</a> / <a onclick="$(this).parent().find(':checkbox').attr('checked', false);">{{ text_unselect_all }}</a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">{{ market_out }}</label>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input type="radio" {{ (yandex_money_market_catall ? ' checked="checked"' : '') }} name="yandex_money_market_catall" value="1"/> {{ market_out_all }}</label>
                <label class="radio-inline">
                    <input type="radio" {{ (not yandex_money_market_catall ? ' checked="checked"' : '') }} name="yandex_money_market_catall" value="0"/> {{ market_out_sel }}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">{{ market_cat }}</label>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="tree-panel-heading tree-panel-heading-controls clearfix">
                        <div class="tree-actions pull-right">
                            <a onclick="hidecatall($('#categoryBox')); return false;" id="collapse-all-categoryBox" class="btn btn-default">
                                <i class="icon-collapse-alt"></i>{{ market_sv_all }}
                            </a>
                            <a onclick="showcatall($('#categoryBox')); return false;" id="expand-all-categoryBox" class="btn btn-default">
                                <i class="icon-expand-alt"></i>{{ market_rv_all }}
                            </a>
                            <a onclick="checkAllAssociatedCategories($('#categoryBox')); return false;" id="check-all-categoryBox" class="btn btn-default">
                                <i class="icon-check-sign"></i>{{ market_ch_all }}
                            </a>
                            <a onclick="uncheckAllAssociatedCategories($('#categoryBox')); return false;" id="uncheck-all-categoryBox" class="btn btn-default">
                                <i class="icon-check-empty"></i>{{ market_unch_all }}
                            </a>
                        </div>
                    </div>
                    <ul id="categoryBox" class="tree">
                        {{ market_cat_tree }}
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" for="yandex_money_market_dynamic">{{ market_lnk_yml }}</label>
            <div class="col-sm-8">
                <input type="text" name="yandex_money_market_dynamic" value="{{ yandex_money_market_lnk_yml }}" id="yandex_money_market_dynamic" disabled="disabled" class="form-control"/>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function showcatall($tree) {
        $tree.find("ul.tree").each(function() {
            $(this).slideDown();
        });
    }

    function hidecatall($tree) {
        $tree.find("ul.tree").each(function() {
            $(this).slideUp();
        });
    }
    function checkAllAssociatedCategories($tree) {
        $tree.find(":input[type=checkbox]").each(function() {
            $(this).prop("checked", true);
            $(this).parent().addClass("tree-selected");
        });
    }

    function uncheckAllAssociatedCategories($tree) {
        $tree.find(":input[type=checkbox]").each(function() {
            $(this).prop("checked", false);
            $(this).parent().removeClass("tree-selected");
        });
    }
</script>
Erf