{% for me in metrika_status %}
{{ me }}
{% endfor %}
<div class="panel panel-default">
    <div class="panel-body">
        <div>
            <p>{{ language.get('kassa_header_description') }}</p>
            <p>{{ language.get('kassa_version_string') }} {{ module_version }}</p>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">{{ active }}</label>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input type="radio" {{ (yandex_money_metrika_active ? ' checked="checked"' : '') }} name="yandex_money_metrika_active" value="1"/> {{ active_on }}</label>
                <label class="radio-inline">
                    <input type="radio" {{ (not yandex_money_metrika_active ? ' checked="checked"' : '') }} name="yandex_money_metrika_active" value="0"/> {{ active_off }}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="yandex_money_metrika_number">{{ metrika_number }}</label>
            <div class="col-sm-8">
                <input type="text" name="yandex_money_metrika_number" value="{{ yandex_money_metrika_number }}" id="yandex_money_metrika_number" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="yandex_money_metrika_idapp">{{ metrika_idapp }}</label>
            <div class="col-sm-8">
                <input type="text" name="yandex_money_metrika_idapp" value="{{ yandex_money_metrika_idapp }}" id="yandex_money_metrika_idapp" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="yandex_money_metrika_pw">{{ metrika_pw }}</label>
            <div class="col-sm-8">
                <input type="text" name="yandex_money_metrika_pw" value="{{ yandex_money_metrika_pw }}" id="yandex_money_metrika_pw" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">{{ metrika_set }}</label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label for="yandex_money_metrika_webvizor"><input type="checkbox" {{ (yandex_money_metrika_webvizor ? ' checked="checked"' : '') }} name="yandex_money_metrika_webvizor" id="yandex_money_metrika_webvizor" class="" value="1"/> {{ metrika_set_1 }}</label>
                </div>
                <div class="checkbox">
                    <label for="yandex_money_metrika_clickmap"><input type="checkbox" {{ (yandex_money_metrika_clickmap ? ' checked="checked"' : '') }} name="yandex_money_metrika_clickmap" id="yandex_money_metrika_clickmap" class="" value="1"/> {{ metrika_set_2 }}</label>
                </div>
                <div class="checkbox">
                    <label for="yandex_money_metrika_hash"><input type="checkbox" {{ (yandex_money_metrika_hash ? ' checked="checked"' : '') }} name="yandex_money_metrika_hash" id="yandex_money_metrika_hash" class="" value="1"/> {{ metrika_set_5 }}</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="yandex_money_metrika_callback">{{ metrika_callback }}</label>
            <div class="col-sm-8">
                <input type="text" name="yandex_money_metrika_callback" disabled="disabled" value="{{ yandex_money_metrika_callback }}" id="yandex_money_metrika_callback" class="form-control"/>
            </div>
        </div>
    </div>
</div>