{% if fullView is defined and fullView %}
{{ header }}{{ column_left }}{{ column_right }}
<div class="container">
    {{ content_top }}
    {% endif %}

    {% if not kassa.getEPL() %}
        <h3>{{ kassa.getDisplayName() }}</h3>
    {% endif %}
    <style type="text/css">
        .yoomoney_kassa_buttons {
            display: flex;
            justify-content: space-between;
        }

        .yoomoney_kassa_buttons_reverse {
            flex-direction: row-reverse;
        }

        .yoomoney-pay-button {
            position: relative;
            height: 60px;
            width: 155px;
            font-family: YandexSansTextApp-Regular, Arial, Helvetica, sans-serif;
            text-align: center;
        }

        .yoomoney-pay-button button {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            transition: 0.1s ease-out 0s;
            color: #000;
            box-sizing: border-box;
            outline: 0;
            border: 0;
            background: #FFDB4D;
            cursor: pointer;
            font-size: 12px;
        }

        .yoomoney-pay-button button:hover, .yoomoney-pay-button button:active {
            background: #f2c200;
        }

        .yoomoney-pay-button button span {
            display: block;
            font-size: 20px;
            line-height: 20px;
        }

        .yoomoney-pay-button_type_fly {
            box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12), 0 5px 10px -3px rgba(0, 0, 0, 0.3);
        }
    </style>
    <form method="post" action="" id="yoomoney-payment-form">
        {% if kassa.getEPL() %}
            <input type="hidden" name="kassa_payment_method" value=""/>
            <div class="yoomoney_kassa_buttons {% if not kassa.useInstallmentsButton() %} yoomoney_kassa_buttons_reverse{% endif %}">
                {% if kassa.useInstallmentsButton() %}
                    <div class="yoomoney_kassa_installments_button_container"></div>
                {% endif %}
            </div>
        {% else %}
            {% for method in kassa.getEnabledPaymentMethods() %}
                {% if (method == 'installments') and (amount < constant('YooMoneyModule\\Model\\KassaModel::MIN_INSTALLMENTS_AMOUNT')) %}
                {% else %}
                    <label class="kassa_payment_method_{{ method }}">
                        <input type="radio" name="kassa_payment_method"
                               value="{{ method }}"{{ (loop.first ? ' checked' : '') }} />
                        <img src="{{ image_base_path }}/{{ method }}.png"
                             alt="{{ language.get('text_method_' ~ method) }}"/>
                        {{ language.get('text_method_' ~ method) }}
                    </label>
                {% endif %}
                {% if method == 'qiwi' %}
                    <div id="payment-qiwi" class="additional" style="display: none;">
                        <label for="qiwi-phone">{{ language.get('text_payment_method_qiwi_phone') }}</label><br/>
                        <input name="qiwiPhone" id="qiwi-phone" value=""/>
                    </div>
                {% elseif method == 'alfabank' %}
                    <div id="payment-alfabank" class="additional" style="display: none;">
                        <label for="alfa-login">{{ language.get('text_payment_method_alfa_login') }}</label><br/>
                        <input name="alfaLogin" id="alfa-login" value=""/>
                    </div>
                {% endif %}
                <br/>
            {% endfor %}
        {% endif %}

        {% if not kassa.getEPL() or (kassa.getEPL()) %}
            <div class="buttons">
                <div class="pull-right">
                    <button class="btn btn-primary" id="continue-button" data-loading-text="{{ language.get('text_loading') }}" type="button">
                        {{ language.get('text_continue') }}
                    </button>
                </div>
            </div>
        {% endif %}
    </form>
    <div id="payment-form" style="display: none;"></div>
    <script src="https://yookassa.ru/checkout-ui/v2.js"></script>
    <script type="text/javascript"><!--
        var paymentType = jQuery('input[name=kassa_payment_method]');
        paymentType.change(function () {
            var id = '#payment-' + jQuery(this).val();
            jQuery('.additional').css('display', 'none');
            jQuery(id).css('display', 'block');
        });

        var continueButton = '#continue-button';
        jQuery(document).off('click.default', continueButton).on('click.default', continueButton, function (e) {
            e.preventDefault();
            createPayment(jQuery(this));
        });

        function buttonAction(button, action) {
            if (jQuery.fn.button && button) {
                button.button(action);
            }
        }

        function createPayment(button) {
            button = button || null;
            var form = jQuery("#yoomoney-payment-form")[0];
            jQuery('#payment-form').hide();
            jQuery.ajax({
                url: "{{ validate_url }}",
                dataType: "json",
                method: "GET",
                data: {
                    paymentType: form.kassa_payment_method.value,
                    qiwiPhone: (form.qiwiPhone ? form.qiwiPhone.value : ''),
                    alphaLogin: (form.alfaLogin ? form.alfaLogin.value : '')
                },
                beforeSend: function() {
                    buttonAction(button, 'loading');
                },
                success: function (data) {
                    if (data.success) {
                        if (data.token) {
                            initWidget(data);
                        } else {
                            document.location = data.redirect;
                        }
                    } else {
                        onValidateError(data.error);
                        buttonAction(button, 'reset');
                    }
                },
                failure: function () {
                    onValidateError('Failed to create payment');
                    buttonAction(button, 'reset');
                }
            });
        }

        function initWidget(data) {
            var widget_form = jQuery('#payment-form');
            widget_form.empty();
            const checkout = new window.YooMoneyCheckoutWidget({
                confirmation_token: data.token,
                return_url: data.redirect,
                embedded_3ds: true,
                error_callback: function(error) {
                    if (error.error === 'token_expired') {
                        resetToken();
                        createPayment();
                    }
                }
            });

            checkout.render('payment-form');
            jQuery('#yoomoney-payment-form').hide();
            widget_form.show();
        }

        function resetToken() {
            jQuery.ajax({
                url: "{{ reset_token_url }}",
                dataType: "json",
                method: "GET",
                failure: function () {
                    onValidateError("Failed to reset token");
                }
            });
        }

        {% if kassa.isInstallmentsOn() %}
            function createCheckoutCreditUI() {
                if (typeof CheckoutCreditUI === "undefined") {
                    setTimeout(createCheckoutCreditUI, 200);
                    return;
                }
                const yoomoneyCheckoutCreditUI = CheckoutCreditUI({
                    shopId: {{ kassa.getShopId() }},
                    sum: {{ amount }},
                    language: "{{ language.get('code') }}"
                });
                const checkoutCreditButton = yoomoneyCheckoutCreditUI({
                    type: 'button',
                    tag: 'button',
                    domSelector: '.yoomoney_kassa_installments_button_container'
                });
                jQuery('.yoomoney_kassa_installments_button_container button').off('click').on('click', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    jQuery.ajax({
                        url: "{{ validate_url }}",
                        dataType: "json",
                        method: "GET",
                        data: {
                            paymentType: "installments",
                        },
                        success: function (data) {
                            if (data.success) {
                                document.location = data.redirect;
                            } else {
                                onValidateError(data.error);
                            }
                        },
                        failure: function () {
                            onValidateError("Failed to create payment");
                        }
                    });
                });
            }

            setTimeout(createCheckoutCreditUI, 200);

            jQuery.get("https://yoomoney.ru/credit/order/ajax/credit-pre-schedule?shopId="
                + {{ kassa.getShopId() }} +"&sum=" + {{ amount }}, function (data) {
                const yoomoney_installments_amount_text = "{{ language.get('text_method_installments_amount') }}";
                if (yoomoney_installments_amount_text && data && data.amount) {
                    jQuery('label.kassa_payment_method_installments').append(yoomoney_installments_amount_text.replace('%s', data.amount));
                }
            });
        {% endif %}

        function onValidateError(errorMessage) {
            var warning = jQuery('#yoomoney-payment-form .alert');
            if (warning.length > 0) {
                warning.fadeOut(300, function () {
                    warning.remove();
                    var content = '<div class="alert alert-danger">' + errorMessage + '<button type="button" class="close" data-dismiss="alert">×</button></div>';
                    jQuery('#yoomoney-payment-form').prepend(content);
                    jQuery('#yoomoney-payment-form .alert').fadeIn(300);
                });
            } else {
                var content = '<div class="alert alert-danger">' + errorMessage + '<button type="button" class="close" data-dismiss="alert">×</button></div>';
                jQuery('#yoomoney-payment-form').prepend(content);
                jQuery('#yoomoney-payment-form .alert').fadeIn(300);
            }
        }
    //--></script>

    {% if fullView is defined and fullView %}
    {{ content_bottom }}
</div>
{{ footer }}
{% endif %}
