<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<div>
    <div style="margin:0;padding:0;">
        <table cellpadding="0" cellspacing="0" width="100%" height="auto" style="border-collapse:collapse;">
            <tbody>
            <tr>
                <td bgcolor="#f6f5f3" style="padding:50px;">
                    <table style="border-collapse:collapse;margin-left:auto;margin-right:auto;" cellpadding="0" cellspacing="0" width="610" height="auto" align="center" bgcolor="#ffffff">
                        <tbody>
                        <tr>
                            <td>
                                <table cellpadding="0" cellspacing="0" width="100%" height="auto" style="border-collapse:collapse;">
                                    <tbody>
                                    <tr>
                                        <td style="padding:15px 25px;">
                                            <a href="https://yookassa.ru/?_openstat=mail%3Bmy%3Binvoice_p%3Blogo" target="_blank" style="font-weight:normal;text-decoration:none;cursor:pointer;">
                                                <font color="#4d7fd2" face="Arial" size="3">
                                                    <img src="https://yoomoney.ru/i/html-letters/header__logo_theme_kassa.png" width="146" height="38" alt="ЮKassa" title="ЮKassa" style="border:0;vertical-align:middle;">
                                                </font>
                                            </a>
                                        </td>
                                        {% if b_logo and shop_logo %}
                                        <td style="padding:15px 25px;" align="right">
                                            <a href="{{ shop_url }}" target="_blank" style="font-weight:normal;text-decoration:none;cursor:pointer;">
                                                <font color="#4d7fd2" face="Arial" size="3">
                                                    <img src="{{ shop_logo }}" height="38" alt="{{ shop_name }}" title="{{ shop_name }}" style="border:0;vertical-align:middle;">
                                                </font>
                                            </a>
                                        </td>
                                        {%  endif %}
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <hr size="1" color="#e1dbdb" style="margin:0;">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:30px 25px 20px 25px;">
                                <h1 style="line-height:normal;padding:0;margin: 0 0 24px;font-weight:normal;">
                                    <font size="5" color="#000000" face="Arial"> К оплате {{ sum }} руб. </font>
                                </h1>
                                <p style="font-weight:normal;line-height:21px;padding:0;margin:0;margin-bottom:15px;">
                                    <font color="#000000" face="Arial" size="3"> Здравствуйте, <font style="font-weight:bold;" color="#000000" face="Arial" size="3">{{ customer_name }}</font>. </font>
                                </p>
                                <p style="font-weight:normal;line-height:21px;padding:0;margin:0;margin-bottom:15px;">
                                    <font color="#000000" face="Arial" size="3">
                                        Магазин {{ shop_name }} благодарит вас за заказ и просит оплатить счет №&nbsp;{{ order_id }}.
                                    </font>
                                </p>
                                <div>
                                    <img src="https://yoomoney.ru/i/html-letters/margin-block.png" width="560" height="13" style="border:0;background:#ffffff;">
                                </div>
                                <h2 style="font-weight:normal;line-height:normal;padding:0;margin:0;margin-bottom:10px;font-weight:bold;">
                                    <font size="4" color="#000000" face="Arial">В вашем заказе</font>
                                </h2>
                                <table style="margin:0;padding:0;width:100%;">
                                    <tbody>
                                    <!-- -->
                                    {% for product in products %}
                                    <tr>
                                        <td style="width:70%;">
                                            <div style="line-height:20px;vertical-align:top;">
                                                <font style="background-color:#fff;" color="#000000" face="Arial" size="3">{{ product['name'] }}&nbsp;</font>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                            </div>
                                        </td>
                                        <td valign="top">
                                            <font color="#000000" face="Arial" size="3">{{ product['quantity'] }}&nbsp;x&nbsp;{{ product['price'] | number_format(2, '.', '') }}&nbsp;руб.</font>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    <!-- -->
                                    <tr>
                                        <td>
                                            <div>
                                                <img src="https://yoomoney.ru/i/html-letters/margin-block.png" width="384" height="10" style="border:0;background:#ffffff;">
                                            </div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table style="margin:0;padding:0;width:100%;">
                                    <tbody>
                                    <tr>
                                        <td style="width:70%;">
                                            <div style="line-height:20px;vertical-align:top;">
                                                <font style="background-color:#fff;font-weight:bold;" color="#000000" face="Arial" size="3">К оплате&nbsp;</font>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                            </div>
                                        </td>
                                        <td valign="top">
                                            <font style="font-weight:bold;" color="#000000" face="Arial" size="3">{{ sum }}&nbsp;руб.</font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                <img src="https://yoomoney.ru/i/html-letters/margin-block.png" width="384" height="25" style="border:0;background:#ffffff;">
                                            </div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                                {% if instruction %}
                                <div>
                                    <p>{{ instruction }}</p>
                                </div>
                                {%  endif %}
                                <div>
                                    <img src="https://yoomoney.ru/i/html-letters/margin-block.png" width="560" height="25" style="border:0;background:#ffffff;">
                                </div>
                                <table cellpadding="0" cellspacing="0" width="100%" height="auto" style="border-collapse:collapse;">
                                    <tbody>
                                    <tr>
                                        <td style="padding-bottom:16px;">

                                            <table border="0" cellspacing="1" align="center"  width = "80%">
                                                <tr>
                                                    <td align="center">
                                                        <div>
                                                            <a href="{{ link }}">
                                                                <img width="176" height="81" src="{{ yoomoney_button }}" border="0" alt="Заплатить через ЮKassa">
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <img src="https://yoomoney.ru/i/html-letters/margin-block.png" width="560" height="45" style="border:0;background:#ffffff;">
                                </div>
                                <table cellpadding="0" cellspacing="0" width="100%" height="auto" style="border-collapse:collapse;">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <span>
                                            <font color="#999999" size="2" face="Arial">Счет выставлен через <a href="https://github.com/yoomoney/cms-opencart3" target="_blank" style="font-weight:normal;text-decoration:none;cursor:pointer;">
                                                    <font color="#666699" size="2" face="Arial">модуль YooMoney</font>
                                                </a>
                                            </font>
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>